extends ../layout

block content
  .container
    .row.justify-content-center
      .col-md-6
        .card.shadow.mb-4
          .card-header.bg-primary.text-white.text-center
            h4.mb-0 Edit user details
          .card-body
            form(method='POST', action='/users/' + user.customer_id + '/edit')
              .mb-3
                label.form-label(for="firstName") First Name
                input.form-control(
                  type="text",
                  name="firstName",
                  id="firstName",
                  value=user.first_name,
                  required
                )
              .mb-3
                label.form-label(for="lastName") Last Name
                input.form-control(
                  type="text",
                  name="lastName",
                  id="lastName",
                  value=user.last_name,
                  required
                )
              .mb-3
                label.form-label(for="active") Status (1=active, 0=inactive)
                input.form-control(
                  type="text",
                  name="active",
                  id="active",
                  value=user.active,
                  required
                )
              .mb-3
                label.form-label(for="exampleInputEmail1") E-mail
                input.form-control(
                  type="email",
                  name="email",
                  id="exampleInputEmail1",
                  value=user.email,
                  required
                )
                div.form-text(id="emailHelp") We'll never share your email with others.
              .d-flex.justify-content-center.gap-2.mt-4
                button.btn.btn-primary(type='submit') Opslaan
                button.btn.btn-warning(type='button', onclick='window.location.href="/users/account"') Annuleren