extends ../layout

block content
  h1 Gebruikers
  table.table
    thead
      tr
        th Voornaam
        th Achternaam
        th Email
    tbody
      each user in users
        tr
          td= user.first_name
          td= user.last_name
          td= user.email
          td
            a.btn.btn-primary.me-2(href=`/users/${user.id || user.customer_id}/details`) Details
            button.btn.btn-danger(type="button" onclick=`deleteButtonClicked(${user.id || user.customer_id}, this)`) Verwijder